/* GLOBALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


/* MOBILE FIRST */

/* Header */
.header__container{
    padding: 0;
    background-color: #283618;
}
.navbar{
    padding: 0;
    background-color: #283618;
}
.navbar-container{
    background-color: #283618;
    padding: 1rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 1rem;
    color: #bc6c25;
}
.navbar-brand:hover{
    color: #dda15e ;
    transition: 0.3s
}
.nav-item{
    padding-right: 2rem;
}
.nav-link{
    font-size: 1.5rem;
    font-weight: 550;
    padding: 1rem;
    color: #dda15e;
}
.navbar-toggler{
    background-color: #606c38;
}

/* Footer */

.footer_container{
    background-color: #fefae0;
    width: 100%;
    height: 100%;
}

.div_copyright p{
    color: #bc6c25;
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: 500;
}
.div_redes{
    padding-left: 2rem;
    
}
.div_redes ul{
    margin: 0;
}
.div_redes ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 1.5rem;
    
}
.div_redes a{
    text-decoration: none;
    color: #bc6c25;
    font-size: 2rem;
    padding: 1rem;
}


/* INICIO */

/* Main */

.inicio_main__container{
    height: 100vh;
    background-image:url(../img/bar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;
}
.inicio_titulo__1{
    color: #fefae0;
    font-size: 3rem;
    padding-left: 2rem;
}
.inicio_titulo__2{
    color: #fefae0;
    font-size: 2rem;
    padding-left: 2rem;
}
.inicio_btn__container{
    padding-left: 2rem;
    padding-top: 15rem;
}
.btn a{
    font-size: 1rem;
    color: #fefae0;
    text-decoration: none;
}
.btn a:hover{
    color: #21131a;
}

 /* Aside */

 .inicio_aside__container{
    background-color: #432534;
}
.inicio_aside__h2{
    display: block;
    padding: 2rem;
    color: #fefae0;
}
.inicio_aside__h2 h2{
    font-size: 2rem;
}
.inicio_aside__h2 p{
    font-size: 1.5rem;
}
.inicio_aside__p2{
    padding-top: 2rem;
}
.inicio_aside__img{
    padding-top: 2rem;
}



/* HISTORIA */

/* Main */

.historia_main__container{
    padding: 2rem;
    background-color: #606c38;
       
}
.historia_section__container{
    background-color: #283618;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
}

.historia_section__container h2{
    color: #9e5718;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.historia_parrafo p{
    padding-top: 2rem;
    font-size: 15px;
    color: #fefae0;
    font-family: 'Roboto', sans-serif;
}


/* DESKTOP */

    @media screen and (min-width: 768px){

    /* DESKTOP GENERAL */

     /* Header*/
    .navbar-brand{
        font-size: 4rem;
        font-weight: 600;
        padding-left: 3.5rem;
    }
    .navbar-brand:hover{
        color: #dda15e;
        transition: 0.3s;
    }
    .nav-item{
        padding-right: 3rem;
    }
    .nav-link{
        font-size: 2rem;
        font-weight: 550;
        padding: 2rem;
        color: #dda15e;
    }
    .nav-link:hover{
        background-color: #606c38;
        border-radius: 10px;
        color: #dda15e;
        transition: 0.5s;
    }   

    /* Footer */
    
    .footer_container{
        height: 100%;
        width: 100%;
    }
    .div_copyright p{
        color: #bc6c25;
        font-size: 1.5rem;
        padding-left: 1rem;
        font-weight: 500;
    }
    .container{
        padding-top: 1rem;
    }
    .div_redes ul{
        margin: 0;
    }
    .div_redes ul li{
        list-style-type: none;
        display: inline-block;
        padding-left: 5rem;
    }
    .div_redes a{
        text-decoration: none;
        color: #bc6c25;
        font-size: 3.5rem;
        padding: 1rem;
    }
    .div_redes a:hover{
        transform: scale(1.2);
        background-color: #dda15e;
        border-radius: 5px;
        transition: 0.5s;
    }


    /* INICIO */

    /* Main */

     .inicio_main__container{
        height: 100vh;
    }
    .inicio_titulos__container{
        padding-left: 5rem;
        padding-top: 5rem;
    }
    .inicio_titulo__1{
        font-size: 7rem;
        padding-top: 20rem;
        font-weight: 600;
        
    }
    .inicio_titulo__2{
        font-size: 5rem;
    }
    .inicio_btn__container{
        padding-left: 2rem;
        padding-top: 15rem;
    }
    .btn a{
        font-size: 2rem;
        color: #fefae0;
        text-decoration: none;
    }
    .btn a:hover{
        color: #21131a;
    }

    /* Aside */

    .inicio_aside__container{
        background-color: #432534;
    }
    .inicio_aside__h2{
        padding: 2rem;
        font-size: 1.5rem;
        color: #fefae0;
    }
    .inicio_aside__h2 h2{
        font-size: 2.5rem;
    }
    .inicio_aside__p2{
        padding-top: 50rem;
    }
    


    /* HISTORIA */

    /* Main */

    main{
        padding: 0;
    }
       
    .historia_section__container{
    background-color: #283618;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    }
    
    .historia_section__container:hover{
    box-shadow: 1rem 1rem 0.4rem #21131a;
    transition: 0.2s;
    transform: scale(1.02)
    }
    .historia_section__container h2{
    color: #bc6c25;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    }
    .historia_parrafo p{
    padding: 3rem 2rem 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: #fefae0;
    font-family: 'Montserrat', sans-serif;
    }


}