* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.header__container {
  padding: 0;
  background-color: #283618;
}
.header__container .navbar {
  padding: 0;
  background-color: #283618;
}
.header__container .navbar .navbar-container {
  background-color: #283618;
  padding: 1rem;
}
.header__container .navbar .navbar-container .navbar-brand {
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 1rem;
  color: #bc6c25;
}
.header__container .navbar .navbar-container .navbar-toggler {
  background-color: #606c38;
}
.header__container .navbar .navbar-container .navbar-collapse ul .nav-item {
  padding-right: 2rem;
}
.header__container .navbar .navbar-container .navbar-collapse ul .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 550;
  padding: 1rem;
  color: #dda15e;
}

.footer_container {
  background-color: #fefae0;
  width: 100%;
  height: 100%;
}
.footer_container .div_copyright p {
  color: #bc6c25;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 500;
}
.footer_container .div_redes {
  padding-left: 2rem;
}
.footer_container .div_redes ul {
  margin: 0;
  padding-left: 2rem;
}
.footer_container .div_redes ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 1rem;
}
.footer_container .div_redes ul li a {
  text-decoration: none;
  color: #bc6c25;
  font-size: 2rem;
  padding: 1rem;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  /* Header*/
  .header__container {
    background-image: linear-gradient(90deg, #1a2310, #283618, #263415, #32471b);
  }
  .header__container .navbar {
    background-image: linear-gradient(90deg, #1a2310, #283618, #263415, #32471b);
  }
  .header__container .navbar .navbar-container {
    background-image: linear-gradient(90deg, #1a2310, #283618, #263415, #32471b);
  }
  .header__container .navbar .navbar-container .navbar-brand {
    font-size: 4rem;
    font-weight: 600;
    padding-left: 5rem;
  }
  .header__container .navbar .navbar-container .navbar-brand:hover {
    color: #dda15e;
    transition: 0.3s;
  }
  .header__container .navbar .navbar-container .navbar-collapse ul .nav-item {
    padding-right: 1rem;
  }
  .header__container .navbar .navbar-container .navbar-collapse ul .nav-item .nav-link {
    font-size: 2rem;
    font-weight: 550;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #dda15e;
  }
  .header__container .navbar .navbar-container .navbar-collapse ul .nav-item .nav-link:hover {
    transform: scale(1.1);
    background-color: #606c38;
    border-radius: 10px;
    color: #dda15e;
    transition: 0.5s;
  }
  .footer_container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-90deg, #fefae0, #bbb9a5);
  }
  .footer_container .container {
    padding-top: 1rem;
  }
  .footer_container .container .div_copyright p {
    color: #bc6c25;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .footer_container .container .div_redes ul {
    margin: 0;
    padding-left: 10rem;
    padding-bottom: 2rem;
  }
  .footer_container .container .div_redes ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5rem;
  }
  .footer_container .container .div_redes ul li a {
    text-decoration: none;
    color: #bc6c25;
    font-size: 3.5rem;
    padding: 1rem;
  }
  .footer_container .container .div_redes ul li a:hover {
    transform: scale(1.3);
    background-color: #dda15e;
    border-radius: 5px;
    transition: 0.5s;
  }
}
/* Main */
.inicio_main__container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.inicio_main__container .inicio_titulo__1 {
  color: #fefae0;
  font-size: 3rem;
  padding-left: 2rem;
}
.inicio_main__container .inicio_titulo__2 {
  color: #fefae0;
  font-size: 2rem;
  padding-left: 2rem;
}
.inicio_main__container .inicio_btn__container {
  padding-left: 2rem;
  padding-top: 12rem;
}
.inicio_main__container .inicio_btn__container a {
  font-size: 2rem;
  color: #fefae0;
  text-decoration: none;
}
.inicio_main__container .inicio_btn__container a:hover {
  color: #432534;
  transition: 0.2s;
}

.inicio_aside__container {
  background-color: #432534;
}
.inicio_aside__container .inicio_aside__h2 {
  padding: 1rem;
  color: #fefae0;
}
.inicio_aside__container .inicio_aside__h2 h2 {
  font-size: 2rem;
}
.inicio_aside__container .inicio_aside__h2 .inicio_aside__p1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.inicio_aside__container .inicio_aside__h2 .inicio_aside__p2 {
  padding-top: 2rem;
  padding-bottom: 0;
  font-size: 1rem;
}
.inicio_aside__container .inicio_aside__h2 .inicio_btn__container a {
  font-size: 1rem;
  color: #fefae0;
  text-decoration: none;
}
.inicio_aside__container .inicio_aside__h2 .inicio_btn__container a:hover {
  color: #432534;
  transition: 0.2s;
}
.inicio_aside__container .inicio_aside__h2 .inicio_aside__img {
  padding: 0;
}
.inicio_aside__container .inicio_aside__h2 .inicio_aside__img img {
  padding: 0;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .inicio_main__container {
    width: 100%;
    height: 100vh;
  }
  .inicio_main__container .inicio_titulos__container {
    padding-left: 5rem;
    padding-top: 5rem;
  }
  .inicio_main__container .inicio_titulos__container .inicio_titulo__1 {
    font-size: 7rem;
    padding-top: 20rem;
    font-weight: 600;
  }
  .inicio_main__container .inicio_titulos__container .inicio_titulo__2 {
    font-size: 5rem;
  }
  .inicio_main__container .inicio_btn__container {
    padding-left: 2rem;
    padding-top: 16rem;
  }
  .inicio_main__container .inicio_btn__container .btn:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
  .inicio_main__container .inicio_btn__container .btn a {
    font-size: 2rem;
    color: #fefae0;
    text-decoration: none;
  }
  .inicio_main__container .inicio_btn__container .btn a:hover {
    color: #432534;
    transition: 0.2s;
  }
  .inicio_aside__container {
    background-image: linear-gradient(60deg, #3e2631, #522c3f, #783457, #832d58);
  }
  .inicio_aside__container .inicio_aside__h2 {
    padding-top: 3rem;
    color: #fefae0;
  }
  .inicio_aside__container .inicio_aside__h2 h2 {
    font-size: 3rem;
  }
  .inicio_aside__container .inicio_aside__h2 .inicio_aside__p1 {
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 2rem;
  }
  .inicio_aside__container .inicio_aside__h2 .inicio_aside__p2 {
    padding-top: 40rem;
    font-size: 2rem;
  }
  .inicio_aside__container .inicio_aside__h2 .inicio_btn__container .btn:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
  .inicio_aside__container .inicio_aside__h2 .inicio_btn__container .btn a {
    font-size: 2rem;
    color: #fefae0;
    text-decoration: none;
  }
  .inicio_aside__container .inicio_aside__h2 .inicio_btn__container .btn a:hover {
    color: #432534;
    transition: 0.2s;
  }
}
/* Main */
.cervezas_main__container {
  background-color: #432534;
}
.cervezas_main__container .cervezas_main__section {
  margin: 3rem;
}
.cervezas_main__container .cervezas_main__section div h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fefae0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.cervezas_main__container .cervezas_main__section .card_container .card {
  background-color: #fefae0;
  margin: 2rem;
}
.cervezas_main__container .cervezas_main__section .card_container .card h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.cervezas_main__container .cervezas_main__section .card_container .card p {
  font-size: 1rem;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .cervezas_main__container {
    background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);
  }
  .cervezas_main__container .cervezas_main__section {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }
  .cervezas_main__container .cervezas_main__section div h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #fefae0;
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
  .cervezas_main__container .cervezas_main__section .card_container {
    width: 100%;
    height: 43rem;
    max-width: 120rem;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .cervezas_main__container .cervezas_main__section .card_container .card {
    background-color: #fefae0;
    width: 50rem;
    height: 43rem;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2rem;
    transition: all 0.25s;
  }
  .cervezas_main__container .cervezas_main__section .card_container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.2);
  }
  .cervezas_main__container .cervezas_main__section .card_container .card img {
    width: 50rem;
    height: 30rem;
  }
  .cervezas_main__container .cervezas_main__section .card_container .card h3 {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .cervezas_main__container .cervezas_main__section .card_container .card p {
    font-weight: 500;
    font-size: 2rem;
  }
}
/* Main */
.menu_main__container {
  background-color: #432534;
}
.menu_main__container .menu_main__section {
  margin: 3rem;
}
.menu_main__container .menu_main__section div h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fefae0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.menu_main__container .menu_main__section .card_container .card {
  background-color: #fefae0;
  margin: 2rem;
}
.menu_main__container .menu_main__section .card_container .card h3 {
  font-size: 2.5rem -1;
  padding-top: 1rem;
}
.menu_main__container .menu_main__section .card_container .card p {
  font-size: 2rem -1;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .menu_main__container {
    background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);
  }
  .menu_main__container .menu_main__section {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }
  .menu_main__container .menu_main__section div h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #fefae0;
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
  .menu_main__container .menu_main__section .card_container {
    width: 100%;
    height: 43rem;
    max-width: 120rem;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .menu_main__container .menu_main__section .card_container .card {
    background-color: #fefae0;
    width: 50rem;
    height: 43rem;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2rem;
    transition: all 0.25s;
  }
  .menu_main__container .menu_main__section .card_container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.2);
  }
  .menu_main__container .menu_main__section .card_container .card img {
    width: 50rem;
    height: 30rem;
  }
  .menu_main__container .menu_main__section .card_container .card h3 {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .menu_main__container .menu_main__section .card_container .card p {
    font-weight: 500;
    font-size: 2rem;
  }
}
/* Main */
.historia_main__container {
  padding: 2rem;
  background-color: #606c38;
}
.historia_main__container .historia_section__container {
  background-color: #283618;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.historia_main__container .historia_section__container h2 {
  color: #fefae0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.historia_main__container .historia_section__container .historia_parrafo p {
  padding-top: 2rem;
  font-size: 1rem;
  color: #fefae0;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .historia_main__container {
    background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);
  }
  .historia_main__container .historia_section__container {
    background-image: linear-gradient(to right, #2e1d25, #53273e);
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .historia_main__container .historia_section__container h2 {
    color: #fefae0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
  .historia_main__container .historia_section__container .historia_parrafo p {
    padding: 3rem 2rem 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: #fefae0;
  }
}
/* Main */
.contacto_main__container {
  background-color: #432534;
}
.contacto_main__container .contacto_main__section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.contacto_main__container .contacto_main__section article h2 {
  font-size: 2rem;
  color: #fefae0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contacto_main__container .contacto_main__section article ul li {
  list-style: none;
  font-size: 1.5rem;
  color: #fefae0;
  padding: 2rem;
}
.contacto_main__container .contacto_main__section article iframe {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 20rem;
  height: 20rem;
}
.contacto_main__container .contacto_main__section article .caja_comentario {
  margin-bottom: 3rem;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_email {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_email label {
  font-size: 1.5rem;
  color: #fefae0;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_email input {
  font-size: 1.5rem;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text label {
  font-size: 1.5rem;
  color: #fefae0;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text textarea {
  font-size: 1.5rem;
}
.contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text button {
  margin-top: 3rem;
  font-size: 1.5rem;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .contacto_main__container {
    background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);
  }
  .contacto_main__container .contacto_main__section {
    margin-bottom: 6rem;
  }
  .contacto_main__container .contacto_main__section article h2 {
    font-size: 3rem;
    color: #fefae0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .contacto_main__container .contacto_main__section article ul li {
    list-style: none;
    font-size: 2rem;
    color: #fefae0;
    padding: 2rem;
  }
  .contacto_main__container .contacto_main__section article iframe {
    padding-bottom: 3rem;
    width: 50rem;
    height: 50rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario {
    padding-top: 2rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_email label {
    font-size: 2.5rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_email input {
    font-size: 2rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text label {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text textarea {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text button {
    font-size: 2rem;
  }
  .contacto_main__container .contacto_main__section article .caja_comentario .caja_comentario_text button:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

/*# sourceMappingURL=styles.css.map */
