@use 'variables';

@mixin sizes ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

// MOBILE 

/* Main */

.contacto_main__container{
    background-color: variables.$color__violet;

    .contacto_main__section{
        margin-top: variables.$margin_default;
        margin-bottom: variables.$margin_default;
        display: flex;
        justify-content: center;

        article{

            h2{
                font-size: variables.$fontsize_h2 - 1;
                color: variables.$color__white;
                padding-top: variables.$padding_default;
                padding-bottom: variables.$padding_default;

            }
            ul{
                li{
                    list-style: none;
                    font-size: variables.$fontsize_p - 0.5;
                    color: variables.$color__white;
                    padding: variables.$padding_default;

                }
            }
            iframe{
                padding-top: variables.$padding_default + 1;
                padding-bottom: variables.$padding_default;
                @include sizes(20rem, 20rem)
            }
            .caja_comentario{
                margin-bottom: variables.$margin_default;

                .caja_comentario_email{
                    margin-top: variables.$margin_default;
                    margin-bottom: variables.$margin_default;

                    label{
                        font-size: variables.$fontsize_p - 0.5;
                        color: variables.$color__white;
                    }
                    input{
                        font-size: variables.$fontsize_p - 0.5;
                    }
                }
                .caja_comentario_text{
                    label{
                        font-size: variables.$fontsize_p - 0.5;
                        color: variables.$color__white;
                    }
                    textarea{
                        font-size: variables.$fontsize_p - 0.5;
                    }
                    button{
                        margin-top: variables.$margin_default;
                        font-size: variables.$fontsize_p - 0.5;
                    }
                }
                
            }
            
        }
    }
    
}

/* DESKTOP */

@media screen and (min-width: 768px){

    .contacto_main__container{
        background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);

        .contacto_main__section{
            margin-bottom: variables.$margin_default *2;

            article{
                h2{
                    font-size: variables.$fontsize_h2;
                    color: variables.$color__white;
                    padding-top: variables.$padding_default + 1;
                    padding-bottom: variables.$padding_default + 1;
                }
    
                ul{
                    li{
                        list-style: none;
                        font-size: variables.$fontsize_p;
                        color: variables.$color__white;
                        padding: variables.$padding_default;
                    }
                }
                iframe{
                    padding-bottom: variables.$padding_default + 1;
                    @include sizes(50rem, 50rem)
                }

                .caja_comentario{
                    padding-top: variables.$padding_default;

                    .caja_comentario_email{
                        label{
                            font-size: variables.$fontsize_h3;
                        }
                        input{
                            font-size: variables.$fontsize_p;
                        }
                    }
                    .caja_comentario_text{
                        label{
                            font-size: variables.$fontsize_p;
                            padding-bottom: variables.$padding_default;
                        }
                        textarea{
                            font-size: variables.$fontsize_p;
                            padding-bottom: variables.$padding_default - 1;
                        }
                        button{
                            font-size: variables.$fontsize_p;
                            &:hover{
                                transform: scale(1.1);
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
        
    
    }

}

