@use 'variables';


// Mobile

/* Main */

.historia_main__container{
    padding: variables.$padding_default;
    background-color: variables.$color__light_green;

    .historia_section__container{
        background-color: variables.$color__dark_green;
        padding-top: variables.$padding_default;
        padding-bottom: variables.$padding_default;
        margin-top: variables.$margin_default - 1;

        h2{
            color: variables.$color__white;
            text-align: center;
            font-size: variables.$fontsize_h2 - 1;
            font-weight: 600;
        }
        .historia_parrafo{
            p{
                padding-top: variables.$padding_default;
                font-size: variables.$fontsize_p - 1;
                color: variables.$color__white;
            }
        } 
    }
}
    


/* DESKTOP */

@media screen and (min-width: 768px){


    .historia_main__container{
        background-color: variables.$color__violet;

        .historia_section__container{
            background-image: linear-gradient(to right, #283618, #33461a, #354c1a);
            padding: variables.$padding_default;
            margin-top: variables.$margin_default;
            margin-bottom: variables.$margin_default + 2;
            background-size: 300% 300%;
            animation: color 3s ease-in-out infinite;

        @keyframes color{
            0%{
                background-position: 0 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0 50%;
            }
        }
            
            h2{
                color: variables.$color__white;
                text-align: center;
                font-size: variables.$fontsize_h2;
                font-weight: 600;
            }
            .historia_parrafo{
                p{
                    padding: 3rem 2rem 2rem 0;
                    font-size: variables.$fontsize_p;
                    font-weight: 500;
                    color: variables.$color__white;
                }
            }
        }
    }
}   