@use 'variables';


// Mobile

/* Main */

.historia_main__container{
    padding: 2rem;
    background-color: #606c38;

    .historia_section__container{
        background-color: #283618;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-radius: 5px;

        .historia_section__container {
            h2{
                color: #fefae0;
                text-align: center;
                font-size: 3rem;
                font-weight: 900;
                font-family: 'Roboto', sans-serif;

                .historia_parrafo{
                    p{
                        padding-top: 2rem;
                        font-size: 15px;
                        color: #fefae0;
                        font-family: 'Roboto', sans-serif;

                    }
                } 
            }
        }
    }
    
       
}


/* DESKTOP */

@media screen and (min-width: 768px){


    .historia_main__container{
        padding: 0;
        background-color: #21131a;

        .historia_section__container{
            background-color: #283618;
            padding: 2rem;
            margin-top: 3rem;
            margin-bottom: 5rem;
            &hover{
                box-shadow: 1rem 1rem 0.4rem #21131a;
                transform: scale(1.02);
                transition: 0.2s;
            }

            h2{
                color: #fefae0;
                text-align: center;
                font-size: 4rem;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
            }

            .historia_parrafo{
                p{
                    padding: 3rem 2rem 2rem 0;
                    font-size: 2rem;
                    font-weight: 500;
                    color: #fefae0;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
        
    }
}   