@use 'variables';


// Mobile

/* Main */

.historia_main__container{
    padding: 2rem;
    background-color: variables.$color__light_green;

    .historia_section__container{
        background-color: variables.$color__dark_green;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-radius: 5px;

        
        h2{
            color: variables.$color__white;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
        }
        .historia_parrafo{
            p{
                padding-top: 2rem;
                font-size: 1.5rem;
                color: variables.$color__white;
            }
        } 
        
    }
}
    


/* DESKTOP */

@media screen and (min-width: 768px){


    .historia_main__container{
        padding: 0;
        background-color: variables.$color__violet;

        .historia_section__container{
            background-color: variables.$color__dark_green;
            padding: 2rem;
            margin-top: 3rem;
            margin-bottom: 5rem;
            &:hover{
                box-shadow: 1rem 1rem 0.4rem #21131a;
                transform: scale(1.02);
                transition: 0.2s;
            }

            h2{
                color: variables.$color__white;
                text-align: center;
                font-size: variables.$fontsize_h2;
                font-weight: 600;
            }

            .historia_parrafo{
                p{
                    padding: 3rem 2rem 2rem 0;
                    font-size: 2rem;
                    font-weight: 500;
                    color: #fefae0;
                }
            }
        }
        
    }
}   