@use 'variables';

@mixin sizes ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

// MOBILE 

/* Main */

.inicio_main__container{
    @include sizes(100%, 100vh);
    background-image:url(../img/bar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;

    // Titulos

    .inicio_titulo__1{
        color: variables.$color__white;
        font-size: variables.$fontsize_h2;
        font-weight: 600;
        padding-left: variables.$padding_default;
    }
    .inicio_titulo__2{
        color: variables.$color__white;
        font-size: variables.$fontsize_p;
        font-weight: 600;
        padding-left: variables.$padding_default;
    }

    // Boton

    .inicio_btn__container{
        padding-left: variables.$padding_default;
        padding-top: variables.$padding_default *5;

        a{
            font-size: variables.$fontsize_p;
            color: variables.$color__white;
            text-decoration: none;
            &:hover{
                color: variables.$color__violet;
                transition: 0.2s;
            }
        }
    }
}

// Aside

.inicio_aside__container{
    background-color: variables.$color__violet;

    .inicio_aside__h2{
        padding-top: variables.$padding_default - 1;
        color: variables.$color__white;

        h2{
            font-size: variables.$fontsize_h2 - 1;
            margin-bottom: variables.$margin_default + 2;
        }
        
        // Informacion

        .inicio_aside__p1{
            padding-top: variables.$padding_default;
            padding-bottom: variables.$padding_default;
            font-size: variables.$fontsize_p - 0.5;             
        }
        .inicio_aside__p2{
            padding-top: variables.$padding_default;
            padding-bottom: 0;
            margin-top: variables.$margin_default;
            font-size: variables.$fontsize_p - 0.5;
        }

        // Boton

        .inicio_btn__container{
            margin-top: variables.$margin_default;
            a{
                font-size: variables.$fontsize_p - 0.5;
                color: variables.$color__white;
                text-decoration: none;
                &:hover{
                    color: variables.$color__violet;
                    transition: 0.2s;
                }
            }
        }

    // Imagen

    .inicio_aside__img{
        padding: 0;
        img{
            padding: 0;
            }
        }
    }
}


/* DESKTOP */

@media screen and (min-width: 768px){

    // Main

    .inicio_main__container{
        @include sizes(100%, 100vh);

        // Titulos

        .inicio_titulos__container{
            padding-left: variables.$padding_default + 3;
            padding-top: variables.$padding_default + 3;

            .inicio_titulo__1{
                font-size: 10rem;
                padding-left: variables.$padding_default;
                padding-top: variables.$padding_default *10;
                padding-bottom: variables.$padding_default;
                font-weight: 600;
                color: #444442;
                width: 100%;
                line-height: 0.70em;
                outline: none;
                animation: title 5s linear infinite;
            }
            .inicio_titulo__2{
                font-size: 7rem;
                font-weight: 600;
                color: #444442;
                width: 100%;
                line-height: 0.70em;
                outline: none;
                animation: title 5s linear infinite;

            }
            @keyframes title{
                0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
                    color: #fefae0;
                    box-shadow: none;
                    
                }
                18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
                    color: #fefae0;
                    text-shadow: 0 0 10px #283618, 0 0 20px #283618, 0 0 40px #283618, 0 0 80px #283618, 0 0 160px #283618;
                }
            }
        }

        // Boton

        .inicio_btn__container{
            padding-left: variables.$padding_default;
            padding-bottom: variables.$padding_default;
            padding-top: variables.$padding_default *8;
            margin-bottom: variables.$margin_default;

            .btn{
                a{
                    font-size: variables.$fontsize_h3;
                    color: variables.$color__white;
                    text-decoration: none;
                    &:hover{
                        color: variables.$color__violet;
                        transition: 0.2s;
                        
                    }
                }
            }
        }
    } 
    
    // Aside

    .inicio_aside__container{
        background-image: linear-gradient(60deg, #3e2631, #522c3f, #783457, #832d58);

        .inicio_aside__section{
            margin: 0;

            // Informacion

            .inicio_aside__h2{
                color: variables.$color__white;

                h2{
                    font-size: variables.$fontsize_h2;
                    padding-bottom: variables.$padding_default;
                }
            
                .inicio_aside__p1{
                    padding-top: variables.$padding_default - 1;
                    padding-bottom: variables.$padding_default *2;
                    font-size: variables.$fontsize_p;             
                }
                .inicio_aside__p2{
                    padding-top: variables.$padding_default;
                    font-size: variables.$fontsize_p - 0.5;
                }

                // Boton

                .aside_btn__container{
    
                    .btn{
                        margin-top: variables.$margin_default *2;
                        margin-bottom: variables.$margin_default;
                        &:hover{
                        transform: scaleY(1.2);
                        transition: 0.2s;
                        }
                        a{
                            font-size: variables.$fontsize_p;
                            color: variables.$color__white;
                            text-decoration: none;
                            &:hover{
                                color: variables.$color__violet;
                                transition: 0.2s;
                            }
                        }  
                    }
                }
            }

            // Imagen
            .inicio_aside__img{
                padding-top: variables.$padding_default - 1;
                img{
                @include sizes(100%, 80rem)
                }
            }
        }
    }
}





