@use 'variables';

@mixin sizes ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

// Mobile

/* Main */

.menu_main__container{
    background-color: variables.$color__violet;

    .menu_main__section{
        margin: variables.$margin_default;

        // Titulo

        div{
            h2{
                font-size: variables.$fontsize_h2 - 1;
                font-weight: 600;
                color: variables.$color__white;
                padding-bottom: variables.$padding_default;
                padding-top: variables.$padding_default;
            }
        }

        // Cards

        .card_container{

            .card{
                background-color: variables.$color__white;
                margin: variables.$margin_default - 1;
                h3{
                    font-size: variables.$fontsize_h3 -1;
                    padding-top: variables.$padding_default - 1;
                }
                p{
                    font-size: variables.$fontsize_p -1;
                }
            }            
        }
    }
}


/* DESKTOP */

@media screen and (min-width: 768px){

    .menu_main__container{
        background-image: linear-gradient(-90deg, #2e1d25, #422432, #53273e, #602241);

        .menu_main__section{
            margin-top: variables.$margin_default;
            margin-bottom: variables.$margin_default *3;

            // Titulo

            div{
                h2{
                    font-size: variables.$fontsize_h2;
                    font-weight: 600;
                    color: variables.$color__white;
                    padding-bottom: variables.$padding_default;
                    padding-top: variables.$padding_default + 3;
                }
            }

            // Cards
            
            .card_container{
                @include sizes(100%, 43rem);
                max-width: 120rem;
                padding-left: variables.$padding_default + 3;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: variables.$margin_default;
                margin-bottom: variables.$margin_default + 2;

                .card{
                    background-color: variables.$color__white;
                    @include sizes(50rem, 43rem);
                    border-radius: 6px;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                    overflow: hidden;
                    margin: variables.$margin_default - 1;
                    transition: all 0.25s;
                    &:hover{
                        transform: translateY(-15px);
                        box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.2);
                    }
                    img{
                        @include sizes(50rem, 30rem)
                    }
                    h3{
                        padding: variables.$padding_default;
                        font-size: variables.$fontsize_h3;
                        font-weight: 600;
                    }
                    p{
                        font-weight: 500;
                        font-size: variables.$fontsize_p;
                    }
                }
            }
        }
    }
}