
// Variables generales

// Color

$color__dark_green: #283618;
$color__light_orange: #dda15e;
$color__dark_orange: #bc6c25;
$color__light_green: #606c38;
$color__white: #fefae0;
$color__violet: #432534;

// Font-size

$fontsize_h1: 7rem;
$fontsize_h2: 3rem;